.Carrousel{
    position: relative;
    height: 415px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 10px;
    @media (max-width: 480px) {
        height: auto;
        margin-bottom: 15px;
    }
    &__picture{
        height: 415px;
        width: 100%;
        object-fit: cover;
        @media (max-width: 480px) {
            height: auto;
        }
    }
    &__btnBefore{
        left: 0;   
    }
    &__btnAfter{
        right: 0;
    }
    &__btnAfter, &__btnBefore{
        position: absolute;
        top: 40%;
        background: none;
        border: none;
        img{
            @media (max-width: 768px) {
                width: 35px;
            }
            @media (max-width: 480px) {
                width: 23px;
            }
        }
    }
    &__nbr{
        color: white;
        position: absolute;
        top: 85%;
        right: 50%;
        margin: 0px;
    }

}