.Carrousel{
    position: relative;
    height: 415px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 10px;
    &__picture{
        height: 415px;
        width: 100%;
        object-fit: cover;
    }
    &__btnBefore{
        position: absolute;
        top: 40%;
        left: 0;
        background: none;
        border: none;
    }
    &__btnAfter{
        position: absolute;
        top: 40%;
        right: 0;
        background: none;
        border: none;
    }
    &__nbr{
        color: white;
        position: absolute;
        top: 85%;
        right: 50%;
        margin: 0px;
    }

}