.main{
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    @media(max-width: 1240px){
        margin-left: 20px;
        margin-right: 20px;
    }  
}